@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
/* تعريف المتغيرات (design tokens) */
@theme {
  --color-bg: #ffffff;
  --main-bg: #f9fafb;
  --color-text: #111827;

  --radius-sm: 4px;
  --radius-md: 8px;
  --radius-lg: 16px;

  --spacing-xs: 4px;
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 24px;

  --shadow-card: 0 2px 8px rgba(0, 0, 0, 0.1);
}

/* لو عندك ثيم ثاني (مثلاً dark) تقدر تغير المتغيرات: */
@layer base {
  [class="dark"] {
    --color-bg: #1f2937;
    --main-bg: #111827;
    --color-text: #f9fafb;

    /* …غير باقي المتغيرات */
  }
}
